@font-face {
    font-family: Lato;
    src: url('./fonts/Lato-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Lato;
    src: url('./fonts/Lato-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

:root {
    --color-text: #232323;
    --color-primary-text: #7600A8;
    --color-secondary-text: #9C9C9C;
    --color-background: #fff;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    font-family: Lato, sans-serif;
}

a {
    text-decoration: inherit;
    color: var(--color-primary-text);
}

h1 {
    font-family: Lato, sans-serif;
    font-weight: 700;
    font-size: 28px;
    line-height: 1;
}

h2 {
    font-family: Lato, sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 1;
}

.container {
    display: block;
    width: 1170px;
    margin: 0 auto;
}

.container--flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (width <= 1200px) {
    .container {
        width: 100%;
        padding: 0 40px;
    }

    h2 {
        font-size: 20px;
    }
}

@media (width <= 768px) {
    .container {
        width: 100%;
        padding: 0 20px;
    }

    .container--block-mobile {
        display: block;
    }
}